<div class="ba">
  <script language='JavaScript1.1'>
    document.write("<sc"+"ript language='JavaScript1.1' src='//rover.ebay.com/ar/1/711-53200-19255-393/1?campid=5337798939&toolid=7115320019255393&customid=&mpt=" + Math.floor(Math.random()*999999999999) + "&adtype=3&size=728x90&mpvc='></sc"+"ript>");
  </script>
  <noscript>
    <a href='//rover.ebay.com/rover/1/711-53200-19255-393/1?campid=5337798939&toolid=7115320019255393&customid=&mpvc='>
      <img border='0px' src='//rover.ebay.com/ar/1/711-53200-19255-393/1?campid=5337798939&toolid=7115320019255393&customid=&mpt=[CACHEBUSTER]&adtype=1&size=728x90&mpvc=' alt='Click Here'>
    </a>
  </noscript>
</div>
