@import "vendor/bourbon";
@import "vendor/normalize";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
}
body {
  font: 16px "Droid Serif", "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #333;
}

$sidebar-width: 250px;

.page-wrap {
  min-width: 1020px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: $sidebar-width;
  height: 100%;
  padding: 2rem;
  overflow-y: scroll;
  background-color: #eee;
}
.sidebar h2 {
  margin: 0 0 1rem;
}
.sidebar ul {
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
}
.sidebar ul a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.sidebar ul a:hover,
.sidebar ul .active a {
  text-decoration: underline;
}

/* Homepage */
.home .sidebar {
  position: relative;
  width: 100%;
}
.home .sidebar ul {
  margin-top: 2em;
  @include columns(2 1em);
}
.home .content {
  display: none;
}

/* Content */
.content {
  padding: 30px 20px;
  margin-left:  $sidebar-width;
}
.content h1 {
  margin: 0;
  padding: 5px;
  font-size: 24px;
  text-align: center;
}

/* Item list */
.item-list {
  @include clearfix;
  margin: 0;
  padding: 1rem;
  list-style: none;
  text-align: center;
}
.item-list li {
  float: left;
  width: 23%;
  padding: 5px 5px 1rem;
  margin: 2% 1%;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  position: relative;
  @include transition(background-color 0.2s);
  @include animation(fadeIn 0.2s ease-out);
  &:hover {
    background-color: #ddd;
  }
}
.item-list a {
  text-decoration: none;
  font-style: italic;
  font-size: 14px;
  overflow: hidden;
}
.item-list .thumb {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 1rem;
  background-color: #fff;
}
.item-list .thumb img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Ribbon */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  span {
    font: 9px Helvetica;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    position: absolute;
    top: 19px;
    right: -21px;
    &::before {
      content: "";
      position: absolute; left: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid #79A70A;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #79A70A;
    }
    &::after {
      content: "";
      position: absolute; right: 0px; top: 100%;
      z-index: -1;
      border-left: 3px solid transparent;
      border-right: 3px solid #79A70A;
      border-bottom: 3px solid transparent;
      border-top: 3px solid #79A70A;
    }
  }
}

/* Filters */
.filters {
  font-size: 14px;
  text-align: center;
}
.filters a {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  &:hover,
  &.active {
    text-decoration: underline;
  }
}

/* Pagination */
.pagination {
  text-align: center;
}
.pagination a {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  &:hover,
  &.active {
    text-decoration: underline;
  }
}

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to { opacity: 1; }
}
