<!DOCTYPE html>
<html>
  <head>
    <title>Find Designer Handbags Near You</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet'>
    <link href="/css/app.css" rel="stylesheet">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  </head>
  <body class="{% block body_class %}page{% endblock %}">
    <div class="page-wrap">
      <div class="sidebar">
        <h2>Designer</h2>
        <ul>
          {%
            set designers = [
              '3.1 Phillip Lim',
              'Akris',
              'Alexander McQueen',
              'Alexander Wang',
              'Alice + Olivia',
              'Balenciaga',
              'Bottega Veneta',
              'Brunello Cucinelli',
              'Burberry',
              'Celine',
              'Chanel',
              'Chloe',
              'Christian Louboutin',
              'Diane von Furstenberg',
              'Dolce & Gabbana',
              'Edie Parker',
              'Elizabeth and James',
              'Eric Javits',
              'Fendi',
              'Ferragamo',
              'Frye',
              'Givenchy',
              'Goyard',
              'Gucci',
              'Henry Beguelin',
              'Jason Wu',
              'Jimmy Choo',
              'Judith Leiber Couture',
              'kate spade new york',
              'Kooba',
              'Lanvin',
              'Les Petits Joueurs',
              'Liberty London',
              'Loewe',
              'Longchamp',
              'Manolo Blahnik',
              'MARC by Marc Jacobs',
              'Marni',
              'MCM',
              'Michael Kors Collection',
              'MICHAEL Michael Kors',
              'Moschino',
              'Nancy Gonzalez',
              'Nina Ricci',
              'Phillip Lim',
              'Prada',
              'Proenza Schouler',
              'Rafe',
              'Rag & Bone',
              'Ralph Lauren',
              'Rebecca Minkoff',
              'Roger Vivier',
              'Saint Laurent',
              'Salvatore Ferragamo',
              'See by Chloe',
              'Smythson',
              'Sophie Hulme',
              'Stella McCartney',
              'THE ROW',
              'TOM FORD',
              'Tomas Maier',
              'Tory Burch',
              'Tyler Alexandra',
              'Valentino',
              'VBH',
              'Vince'
            ]
          %}
          {% for designer in designers %}
            <li{% if category and category | lower == designer | lower %} class="active"{% endif %}>
              <a href="/designer/{{ designer | lower }}{% if qs %}?{{ qs }}{% endif %}">
                {{ designer }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71920328-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
