<!DOCTYPE html>
<html>
  <head>
    <title>Find Designer Handbags Near You</title>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet'>
    <link href="/css/app.css" rel="stylesheet" >
  </head>
  <body>
    <div class="page-wrap">
      <div class="sidebar">
        <h2>Designer</h2>
        <ul>
          {% set designers = ['Celine', 'Chanel', 'Chloe', 'Fendi', 'Marc Jacobs', 'Prada', 'Burberry'] %}
          {% for designer in designers %}
            <li{% if category and category | lower == designer | lower %} class="active"{% endif %}>
              <a href="/designer/{{ designer | lower }}{% if qs %}?{{ qs }}{% endif %}">
                {{ designer }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% if category %}
          {% if includeAuction %}
            <a href="/designer/{{ category | lower }}{% if condition %}?c={{ condition }}{% endif %}">Hide Auction Items</a>
          {% else %}
            <a href="/designer/{{ category | lower }}?a=1{% if qs %}&{{ qs }}{% endif %}">Show Auction Items</a>
          {% endif %}
        {% endif %}
      </div>
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="/js/all.js"></script>
  </body>
</html>
