{% extends "_base.html" %}

{% block page_title %}{{ current_category | title }} designer handbags{% endblock %}
{% block page_description %}Great prices on {{ current_category | title }} designer handbags {% endblock %}

{% block content %}
  <h1><span class="menu-btn"></span> {{ current_category | title }}</h1>
  <div class="filters">
    <a href="/designer/{{ current_category }}"{% if not condition %} class="active"{% endif %}>All</a>
    <a href="/designer/{{ current_category }}?c=New"{% if condition and 'New' in condition %} class="active"{% endif %}>New</a>
    <a href="/designer/{{ current_category }}?c=Used"{% if condition and 'Used' in condition %} class="active"{% endif %}>Pre-Owned</a>
  </div>
  <ul class="item-list">
    {% for item in response.findItemsByKeywordsResponse[0].searchResult[0].item %}
      <li>
        <a href="{{ item.viewItemURL }}">
          <div class="thumb" style="background-image: url('{{ item.pictureURLLarge }}');">
            <img src="/images/square.gif">
          </div>
          {% if item.listingInfo[0].listingType == 'Auction' %}Current Bid: {% endif %}{{ item.sellingStatus[0].convertedCurrentPrice[0].@currencyId | replace('USD', '$') }}{{ item.sellingStatus[0].currentPrice[0].__value__ | round }}
          {% if item.condition[0].conditionId[0] | int < 2000 %}
            <div class="ribbon"><span>New</span></div>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="pagination">
    {% set totalPages = response.findItemsByKeywordsResponse[0].paginationOutput[0].totalPages[0] %}

    {% if totalPages > 1 %}
      {% for i in range(1, 11) %}
        {% if i <= totalPages %}
          <a href="/designer/{{ current_category }}{% if i != 1 %}/{{ i }}{% endif %}{% if qs %}?{{ qs }}{% endif %}"{% if page == i or (not page and i == 1) %} class="active"{% endif %}>{{ i }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
