.menu-btn {
  display: none;
  position: relative;
  cursor: pointer;
  padding-left: 1.25em;
  @include respond-to('large') {
    display: block;
  }
}
.menu-btn:before {
  box-sizing: initial;
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}
